<!DOCTYPE html>
<html>
<head>
    <title>Singapore Subzones Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { height: 500px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([1.3521, 103.8198], 12); // Singapore's lat, long
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        fetch('/static/data/MasterPlan2019SubzoneBoundaryNoSeaGEOJSON.geojson')
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                L.geoJSON(data).addTo(map);
            });
    </script>
</body>
</html>
